Load Dataset into data frame,
Inspect Data (View the first few rows and get a summary of the Data Frame.)

In [1]:
import pandas as pd
pricelist = pd.read_table("C:/Users/Suganthi_Ramasamy/OneDrive - Dell Technologies/Desktop/DS/Data/Pricelist.csv", sep=",")
pricelist.head(10)

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd_gb,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating_by_stars,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,34649,2,3,0
1,Lenovo,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,38999,3,65,5
2,Lenovo,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,39999,3,8,1
3,ASUS,Intel,Core i5,10th,8,DDR4,512,0,Windows,32-bit,2,Casual,No warranty,No,No,69990,3,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4,DDR4,0,512,Windows,64-bit,0,Casual,No warranty,No,No,26990,3,0,0
5,ASUS,Intel,Celeron Dual,Not Available,4,DDR4,0,512,Windows,64-bit,0,Casual,No warranty,No,No,22990,3,0,0
6,ASUS,Intel,Celeron Dual,Not Available,4,DDR4,0,512,Windows,32-bit,0,Casual,No warranty,No,No,21990,3,31,3
7,ASUS,Intel,Core i5,10th,8,DDR4,0,1024,Windows,32-bit,2,Casual,No warranty,No,No,58799,3,0,0
8,Lenovo,Intel,Core i5,10th,4,DDR4,0,1024,Windows,32-bit,0,Casual,No warranty,No,No,49999,3,0,0
9,acer,AMD,Ryzen 5,10th,4,DDR4,0,512,Windows,32-bit,4,Casual,No warranty,No,No,59990,4,1946,240

Summary Statistics

In [5]:
pricelist.dtypes

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb                int64
ram_type             object
ssd_gb                int64
hdd                   int64
os                   object
os_bit               object
graphic_card_gb       int64
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating_by_stars       int64
Number of Ratings     int64
Number of Reviews     int64
dtype: object

Calculating the mean value of integer columns by providing the column names

In [6]:
pricelist[['Price', 'Number of Ratings', 'Number of Reviews']].mean()

Price                76745.177400
Number of Ratings      315.301337
Number of Reviews       37.609964
dtype: float64

Calculating the median value of integer columns by providing the column names

In [7]:
pricelist[['Price', 'Number of Ratings','Number of Reviews']].median()

Price                64990.0
Number of Ratings       17.0
Number of Reviews        2.0
dtype: float64

Calculating the mode value of integer columns

In [8]:
pricelist['Price'].mode()
pricelist['Number of Ratings'].mode()

0    0
Name: Number of Ratings, dtype: int64

In [9]:
pricelist[['Price', 'Number of Ratings','Number of Reviews']].mode()

   Price  Number of Ratings  Number of Reviews
0  59990                0.0                0.0
1  64990                NaN                NaN

In [10]:
pricelist.describe()

,ram_gb,ssd_gb,hdd,graphic_card_gb,Price,rating_by_stars,Number of Ratings,Number of Reviews
count,823.000000,823.000000,823.000000,823.000000,823.000000,823.000000,823.000000,823.000000
mean,8.680437,452.121507,227.071689,1.190765,76745.177400,3.562576,315.301337,37.609964
std,4.372408,316.662592,413.105282,2.026902,45101.790525,0.567282,1047.382654,121.728017
min,4.000000,0.000000,0.000000,0.000000,16990.000000,1.000000,0.000000,0.000000
25%,4.000000,256.000000,0.000000,0.000000,46095.000000,3.000000,0.000000,0.000000
50%,8.000000,512.000000,0.000000,0.000000,64990.000000,4.000000,17.000000,2.000000
75%,8.000000,512.000000,0.000000,2.000000,89636.000000,4.000000,139.500000,18.000000
max,32.000000,3072.000000,2048.000000,8.000000,441990.000000,5.000000,15279.000000,1947.000000

Unique values and their counts

In [15]:
for i in pricelist.columns:
  if pricelist[i].dtype == 'object':
    print("Unique Count in {} column: {}\nThe unique value: {}".format(i, len(pricelist[i].unique()), pricelist[i].unique()))
    print(pricelist[i].value_counts())
    print("---------------------------------------------------------------------------------\n")

Unique Count in brand column: 8
The unique value: ['ASUS' 'Lenovo' 'acer' 'Avita' 'HP' 'DELL' 'MSI' 'APPLE']
brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in processor_brand column: 3
The unique value: ['Intel' 'AMD' 'M1']
processor_brand
Intel    610
AMD      189
M1        24
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in processor_name column: 11
The unique value: ['Core i3' 'Core i5' 'Celeron Dual' 'Ryzen 5' 'Core i7' 'Core i9' 'M1'
 'Pentium Quad' 'Ryzen 3' 'Ryzen 7' 'Ryzen 9']
processor_name
Core i5         290
Core i3         164
Core i7         110
Ryzen 5          82
Ryzen 7          56
Ryzen 9          26
Ryzen 3          26
Celeron Dual     24
M1               24
Pentium Quad     13
Core i9           8
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in processor_gnrtn column: 8
The unique value: ['10th' 'Not Available' '11th' '7th' '8th' '9th' '4th' '12th']
processor_gnrtn
11th             334
Not Available    225
10th             204
8th               41
7th                9
9th                6
12th               3
4th                1
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in ram_type column: 6
The unique value: ['DDR4' 'LPDDR4' 'LPDDR4X' 'DDR5' 'DDR3' 'LPDDR3']
ram_type
DDR4       709
LPDDR4X     58
LPDDR4      27
LPDDR3      14
DDR5         8
DDR3         7
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in os column: 3
The unique value: ['Windows' 'DOS' 'Mac']
os
Windows    779
Mac         28
DOS         16
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in os_bit column: 2
The unique value: ['64-bit' '32-bit']
os_bit
64-bit    714
32-bit    109
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in weight column: 3
The unique value: ['Casual' 'ThinNlight' 'Gaming']
weight
Casual        520
ThinNlight    264
Gaming         39
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in warranty column: 4
The unique value: ['No warranty' '1 year' '2 years' '3 years']
warranty
1 year         509
No warranty    278
2 years         23
3 years         13
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in Touchscreen column: 2
The unique value: ['No' 'Yes']
Touchscreen
No     726
Yes     97
Name: count, dtype: int64
---------------------------------------------------------------------------------

Unique Count in msoffice column: 2
The unique value: ['No' 'Yes']
msoffice
No     542
Yes    281
Name: count, dtype: int64
---------------------------------------------------------------------------------

In [32]:
for i in pricelist.columns:
  if pricelist[i].dtype == 'object':
    print("Unique Count in column {} and its values: {}\nThe unique values: {}".format(i, len(pricelist[i].unique()), pricelist[i].unique()))
    print(pricelist[i].value_counts())
    print("--------------------------------------------\n")
  elif pricelist[i].dtype == 'int64' and len(pricelist[i].unique()) <= 20:
     print("Unique Count in column {} and its values: {}\nThe unique value: {}".format(i, len(pricelist[i].unique()), pricelist[i].unique()))
     print(pricelist[i].value_counts())
     print("--------------------------------------------\n")

Unique Count in column brand and its values: 8
The unique values: ['ASUS' 'Lenovo' 'acer' 'Avita' 'HP' 'DELL' 'MSI' 'APPLE']
brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64
--------------------------------------------

Unique Count in column processor_brand and its values: 3
The unique values: ['Intel' 'AMD' 'M1']
processor_brand
Intel    610
AMD      189
M1        24
Name: count, dtype: int64
--------------------------------------------

Unique Count in column processor_name and its values: 11
The unique values: ['Core i3' 'Core i5' 'Celeron Dual' 'Ryzen 5' 'Core i7' 'Core i9' 'M1'
 'Pentium Quad' 'Ryzen 3' 'Ryzen 7' 'Ryzen 9']
processor_name
Core i5         290
Core i3         164
Core i7         110
Ryzen 5          82
Ryzen 7          56
Ryzen 9          26
Ryzen 3          26
Celeron Dual     24
M1               24
Pentium Quad     13
Core i9           8
Name: count, dtype: int64
--------------------------------------------

Unique Count in column processor_gnrtn and its values: 8
The unique values: ['10th' 'Not Available' '11th' '7th' '8th' '9th' '4th' '12th']
processor_gnrtn
11th             334
Not Available    225
10th             204
8th               41
7th                9
9th                6
12th               3
4th                1
Name: count, dtype: int64
--------------------------------------------

Unique Count in column ram_gb and its values: 4
The unique value: [ 4  8 16 32]
ram_gb
8     418
4     226
16    177
32      2
Name: count, dtype: int64
--------------------------------------------

Unique Count in column ram_type and its values: 6
The unique values: ['DDR4' 'LPDDR4' 'LPDDR4X' 'DDR5' 'DDR3' 'LPDDR3']
ram_type
DDR4       709
LPDDR4X     58
LPDDR4      27
LPDDR3      14
DDR5         8
DDR3         7
Name: count, dtype: int64
--------------------------------------------

Unique Count in column ssd_gb and its values: 7
The unique value: [   0  512  256  128 1024 2048 3072]
ssd_gb
512     398
256     184
0       124
1024    111
128       3
2048      2
3072      1
Name: count, dtype: int64
--------------------------------------------

Unique Count in column hdd and its values: 4
The unique value: [1024    0  512 2048]
hdd
0       621
1024    160
512      41
2048      1
Name: count, dtype: int64
--------------------------------------------

Unique Count in column os and its values: 3
The unique values: ['Windows' 'DOS' 'Mac']
os
Windows    779
Mac         28
DOS         16
Name: count, dtype: int64
--------------------------------------------

Unique Count in column os_bit and its values: 2
The unique values: ['64-bit' '32-bit']
os_bit
64-bit    714
32-bit    109
Name: count, dtype: int64
--------------------------------------------

Unique Count in column graphic_card_gb and its values: 5
The unique value: [0 2 4 6 8]
graphic_card_gb
0    577
4    128
2     67
6     37
8     14
Name: count, dtype: int64
--------------------------------------------

Unique Count in column weight and its values: 3
The unique values: ['Casual' 'ThinNlight' 'Gaming']
weight
Casual        520
ThinNlight    264
Gaming         39
Name: count, dtype: int64
--------------------------------------------

Unique Count in column warranty and its values: 4
The unique values: ['No warranty' '1 year' '2 years' '3 years']
warranty
1 year         509
No warranty    278
2 years         23
3 years         13
Name: count, dtype: int64
--------------------------------------------

Unique Count in column Touchscreen and its values: 2
The unique values: ['No' 'Yes']
Touchscreen
No     726
Yes     97
Name: count, dtype: int64
--------------------------------------------

Unique Count in column msoffice and its values: 2
The unique values: ['No' 'Yes']
msoffice
No     542
Yes    281
Name: count, dtype: int64
--------------------------------------------

Unique Count in column rating_by_stars and its values: 5
The unique value: [2 3 4 5 1]
rating_by_stars
4    444
3    352
5     16
2      9
1      2
Name: count, dtype: int64
--------------------------------------------

In [24]:
summary_stats = pricelist.describe()

for col in summary_stats.columns:
    print(f"Summary Statistics for column '{col}':")
    for stat in summary_stats.index:
        print(f"  {stat}: {summary_stats.at[stat, col]}")
    print("--------------------------------------\n")

Summary Statistics for column 'ram_gb':
  count: 823.0
  mean: 8.680437424058324
  std: 4.372407823315538
  min: 4.0
  25%: 4.0
  50%: 8.0
  75%: 8.0
  max: 32.0
--------------------------------------

Summary Statistics for column 'ssd_gb':
  count: 823.0
  mean: 452.12150668286756
  std: 316.6625915655293
  min: 0.0
  25%: 256.0
  50%: 512.0
  75%: 512.0
  max: 3072.0
--------------------------------------

Summary Statistics for column 'hdd':
  count: 823.0
  mean: 227.07168894289185
  std: 413.1052821898772
  min: 0.0
  25%: 0.0
  50%: 0.0
  75%: 0.0
  max: 2048.0
--------------------------------------

Summary Statistics for column 'graphic_card_gb':
  count: 823.0
  mean: 1.1907654921020656
  std: 2.0269023438749607
  min: 0.0
  25%: 0.0
  50%: 0.0
  75%: 2.0
  max: 8.0
--------------------------------------

Summary Statistics for column 'Price':
  count: 823.0
  mean: 76745.17739975698
  std: 45101.79052468946
  min: 16990.0
  25%: 46095.0
  50%: 64990.0
  75%: 89636.0
  max: 441990.0
--------------------------------------

Summary Statistics for column 'rating_by_stars':
  count: 823.0
  mean: 3.5625759416767924
  std: 0.5672824824073838
  min: 1.0
  25%: 3.0
  50%: 4.0
  75%: 4.0
  max: 5.0
--------------------------------------

Summary Statistics for column 'Number of Ratings':
  count: 823.0
  mean: 315.30133657351155
  std: 1047.3826544777644
  min: 0.0
  25%: 0.0
  50%: 17.0
  75%: 139.5
  max: 15279.0
--------------------------------------

Summary Statistics for column 'Number of Reviews':
  count: 823.0
  mean: 37.60996354799514
  std: 121.7280173867489
  min: 0.0
  25%: 0.0
  50%: 2.0
  75%: 18.0
  max: 1947.0
--------------------------------------