# Group by Brand
Group laptops by brand and calculate the average price for each brand.

In [1]:
import pandas as pd
pricelist = pd.read_csv('C:/Users/Suganthi_Ramasamy/OneDrive - Dell Technologies/Desktop/DS/Data/Pricelist.csv', sep=",")
pricelist.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd_gb,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating_by_stars,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,34649,2,3,0
1,Lenovo,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,38999,3,65,5
2,Lenovo,Intel,Core i3,10th,4,DDR4,0,1024,Windows,64-bit,0,Casual,No warranty,No,No,39999,3,8,1
3,ASUS,Intel,Core i5,10th,8,DDR4,512,0,Windows,32-bit,2,Casual,No warranty,No,No,69990,3,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4,DDR4,0,512,Windows,64-bit,0,Casual,No warranty,No,No,26990,3,0,0

In [2]:
pricelist.groupby('brand').Price.mean()

brand
APPLE     151707.857143
ASUS       78937.602410
Avita      65157.428571
DELL       60934.662252
HP         73640.272059
Lenovo     72920.208333
MSI        98713.020000
acer       72420.039216
Name: Price, dtype: float64

# Group by Processor Brand
Group laptops by processor brand and calculate the total count and average rating.

In [8]:
pricelist.groupby('processor_brand')['rating_by_stars'].agg(['count','min','max','mean'])

                 count  min  max      mean
processor_brand
AMD                189    2    5  3.587302
Intel              610    1    5  3.536066
M1                  24    4    5  4.041667

# Multiple Aggregations
Perform multiple aggregation operations (e.g., count, mean, median) on price and rating grouped by brand

In [9]:
pricelist.groupby('brand')[['Price', 'Number of Ratings']].agg(['count','min','max','mean', 'median'])

       Price                                         Number of Ratings      \
       count    min     max           mean    median             count min
brand
APPLE     28  85990  309990  151707.857143  132490.0                28   3
ASUS     249  17990  441990   78937.602410   65990.0               249   0
Avita     14  17490   73990   65157.428571   73063.0                14   0
DELL     151  35990  139990   60934.662252   57900.0               151   0
HP       136  26470  239759   73640.272059   59999.0               136   0
Lenovo   144  16990  265998   72920.208333   62149.5               144   0
MSI       50  38990  291190   98713.020000   79990.0                50   0
acer      51  23990  169990   72420.039216   59999.0                51   0


          max         mean median
brand
APPLE    6725  1207.535714  253.5
ASUS    15279   363.244980    9.0
Avita    1120    98.428571    0.0
DELL     1917   124.761589   16.0
HP       7291   447.198529   39.5
Lenovo   4428   160.090278   13.0
MSI      1639   253.380000   18.5
acer    10966   362.274510   18.0

In [10]:
pricelist.pivot_table(index='brand',
                      columns='processor_brand',
                      values='Price',
                      aggfunc=['mean', 'count'])

                         mean                               count
processor_brand           AMD          Intel             M1   AMD  Intel    M1
brand
APPLE                     NaN  173015.000000  148156.666667   NaN    4.0  24.0
ASUS             98378.030303   71926.300546            NaN  66.0  183.0   NaN
Avita                     NaN   65157.428571            NaN   NaN   14.0   NaN
DELL             53808.451613   62775.600000            NaN  31.0  120.0   NaN
HP               66911.590909   76858.336957            NaN  44.0   92.0   NaN
Lenovo           72904.461538   72923.677966            NaN  26.0  118.0   NaN
MSI              75704.285714  102458.627907            NaN   7.0   43.0   NaN
acer             63304.600000   76218.138889            NaN  15.0   36.0   NaN

In [6]:
summary_stats = pricelist.describe()

for col in summary_stats.columns:
    print(f"Summary Statistics for column '{col}':")
    for stat in summary_stats.index:
        print(f"  {stat}: {summary_stats.at[stat, col]}")
    print("--------------------------------------\n")

Summary Statistics for column 'ram_gb':
  count: 823.0
  mean: 8.680437424058324
  std: 4.372407823315538
  min: 4.0
  25%: 4.0
  50%: 8.0
  75%: 8.0
  max: 32.0
--------------------------------------

Summary Statistics for column 'ssd_gb':
  count: 823.0
  mean: 452.12150668286756
  std: 316.6625915655293
  min: 0.0
  25%: 256.0
  50%: 512.0
  75%: 512.0
  max: 3072.0
--------------------------------------

Summary Statistics for column 'hdd':
  count: 823.0
  mean: 227.07168894289185
  std: 413.1052821898772
  min: 0.0
  25%: 0.0
  50%: 0.0
  75%: 0.0
  max: 2048.0
--------------------------------------

Summary Statistics for column 'graphic_card_gb':
  count: 823.0
  mean: 1.1907654921020656
  std: 2.0269023438749607
  min: 0.0
  25%: 0.0
  50%: 0.0
  75%: 2.0
  max: 8.0
--------------------------------------

Summary Statistics for column 'Price':
  count: 823.0
  mean: 76745.17739975698
  std: 45101.79052468946
  min: 16990.0
  25%: 46095.0
  50%: 64990.0
  75%: 89636.0
  max: 441990.0
--------------------------------------

Summary Statistics for column 'rating_by_stars':
  count: 823.0
  mean: 3.5625759416767924
  std: 0.5672824824073838
  min: 1.0
  25%: 3.0
  50%: 4.0
  75%: 4.0
  max: 5.0
--------------------------------------

Summary Statistics for column 'Number of Ratings':
  count: 823.0
  mean: 315.30133657351155
  std: 1047.3826544777644
  min: 0.0
  25%: 0.0
  50%: 17.0
  75%: 139.5
  max: 15279.0
--------------------------------------

Summary Statistics for column 'Number of Reviews':
  count: 823.0
  mean: 37.60996354799514
  std: 121.7280173867489
  min: 0.0
  25%: 0.0
  50%: 2.0
  75%: 18.0
  max: 1947.0
--------------------------------------

In [7]:
for col in pricelist.columns:
  if pricelist[col].dtype == 'int64':
    print(f"Column: {col}")
    print(f"  Mean: {pricelist[col].mean()}")
    print(f"  Min: {pricelist[col].min()}")
    print(f"  Max: {pricelist[col].max()}")
    print("-----------------------------\n")

Column: ram_gb
  Mean: 8.680437424058324
  Min: 4
  Max: 32
-----------------------------

Column: ssd_gb
  Mean: 452.12150668286756
  Min: 0
  Max: 3072
-----------------------------

Column: hdd
  Mean: 227.07168894289185
  Min: 0
  Max: 2048
-----------------------------

Column: graphic_card_gb
  Mean: 1.1907654921020656
  Min: 0
  Max: 8
-----------------------------

Column: Price
  Mean: 76745.17739975698
  Min: 16990
  Max: 441990
-----------------------------

Column: rating_by_stars
  Mean: 3.5625759416767924
  Min: 1
  Max: 5
-----------------------------

Column: Number of Ratings
  Mean: 315.30133657351155
  Min: 0
  Max: 15279
-----------------------------

Column: Number of Reviews
  Mean: 37.60996354799514
  Min: 0
  Max: 1947
-----------------------------